<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>passes</key>
	<dict>
		<key>scene</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clearColor</key>
				<string>0.35 0.95 0.45 1.0</string>
				<key>clear</key>
				<true/>
			</dict>
			<key>depthStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>color_buffer</string>
				<key>depth</key>
				<string>depth_buffer</string>
			</dict>
		</dict>
		<key>normals</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clearColor</key>
				<string>0.35 0.95 0.45 1.0</string>
				<key>clear</key>
				<true/>
			</dict>
			<key>depthStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>metalVertexShader</key>
			<string>technique_vertex</string>
			<key>metalFragmentShader</key>
			<string>technique_normal_fragment</string>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>normal_buffer</string>
			</dict>
		</dict>
		<key>gaussian_vertical</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>depthStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>gaussian_vertex</string>
			<key>metalFragmentShader</key>
			<string>gaussian_vertical_fragment</string>
			<key>inputs</key>
			<dict>
				<key>colorBuffer</key>
				<string>color_buffer</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>color_buffer</string>
			</dict>
		</dict>
		<key>gaussian_horizontal</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>depthStates</key>
			<dict>
				<key>clear</key>
				<false/>
			</dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>gaussian_vertex</string>
			<key>metalFragmentShader</key>
			<string>gaussian_horizontal_fragment</string>
			<key>inputs</key>
			<dict>
				<key>colorBuffer</key>
				<string>color_buffer</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>color_buffer</string>
			</dict>
		</dict>
		<key>sobel</key>
		<dict>
			<key>colorStates</key>
			<dict>
				<key>clearColor</key>
				<string>0.95 0.45 0.35 1.0</string>
				<key>clear</key>
				<true/>
			</dict>
			<key>depthStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>metalVertexShader</key>
			<string>sobel_vertex</string>
			<key>metalFragmentShader</key>
			<string>sobel_fragment</string>
			<key>inputs</key>
			<dict>
				<key>colorBuffer</key>
				<string>color_buffer</string>
				<key>depthBuffer</key>
				<string>depth_buffer</string>
				<key>normalBuffer</key>
				<string>normal_buffer</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>sequence</key>
	<array>
		<string>scene</string>
		<string>normals</string>
		<string>sobel</string>
	</array>
	<key>symbols</key>
	<dict/>
	<key>targets</key>
	<dict>
		<key>color_buffer</key>
		<dict>
			<key>type</key>
			<string>color</string>
			<key>size</key>
			<string>1024x1024</string>
		</dict>
		<key>normal_buffer</key>
		<dict>
			<key>type</key>
			<string>color</string>
			<key>size</key>
			<string>1024x1024</string>
		</dict>
		<key>depth_buffer</key>
		<dict>
			<key>type</key>
			<string>depth</string>
			<key>size</key>
			<string>1024x1024</string>
		</dict>
		<key>stencil_buffer</key>
		<dict>
			<key>type</key>
			<string>depth</string>
			<key>size</key>
			<string>1024x1024</string>
		</dict>
	</dict>
</dict>
</plist>
